<div style="width: 100%; clear: both;">
<div style="float: left; width: 50%;">
<img src="http://www.uoc.edu/portal/_resources/common/imatges/marca_UOC/UOC_Masterbrand.jpg", align="left">
</div>
<div style="float: right; width: 50%;">
<p style="margin: 0; padding-top: 22px; text-align:right;">Tipoogia i Cicle de Vida de les Dades</p>
<p style="margin: 0; text-align:right;">2022-2 · Màster universitari en Ciència de dades (<i>Data science</i>)</p>
<p style="margin: 0; text-align:right; padding-button: 100px;">Estudis d'Informàtica, Multimèdia i Telecomunicació</p>
</div>
</div>
<div style="width:100%;">&nbsp;</div>

# Pràctica 2: Com realitzar la neteja i l'anàlisi de les dades?
- Descripció del dataset
- Integració i selecció
- Neteja de les dades
- Anàlisi de les dades
- Representació dels resultats
- Resolució del problema

In [1]:
import pandas as pd

In [2]:
# Es llegeix el dataset
df = pd.read_csv('../data/heart.csv')
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Descripció del dataset

El dataset escollit es pot trobar a l'adreça:
https://www.kaggle.com/datasets/rashikrahmanpritom/heart-attack-analysis-prediction-dataset
S'ha escollit aquest dataset ja que és el set de dades proposat i és un bon exemple de dades mèdiques, en les quals es poden veure característiques dels pacients de la mostra, des de l'edat i el sexe fins a nivells de colesterol, ritme cardíac, tipus de dolor al pit que tenien... que poden ser bones característiques de cara a classificar, o fins i tot arribar a predir, segons aquestes característiques, quins pacients podrien arribar a tenir un atac de cor.
Tanmateix, amb aquesta mostra de la població del dataset, es podrien arribar a extreure algunes conclusions tals com si el gènere i l'edat, així com els nivells de colesterol, per exemple, poden ser factors que contribueixin al fet de tenir un atac de cor.

## Integració i selecció

### Tipus de variables

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

Veiem els tipus de dades de cada columna, així com el seu nombre de registres

### Estadístics bàsics

In [8]:
df.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

Podem veure alguns estadístics bàsics de cadascuna de les columnes.

### Valos nuls

In [10]:
nulls = df.isnull()
null_count = nulls.sum()
print(null_count)

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

Es comprova que realment no hi ha registres nulls a cap columna.

### Missing values

In [11]:
nas = df.isna()
na_count = nas.sum()
print(na_count)

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

Es comprova que tampoc hi ha missing values.

A priori totes les columnes ens poden ser d'interès així que no eliminem cap columna. No s'han hagut de fer tasques de neteja de les dades ja que aquestes ja presentaven una bona qualitat (no hi ha nuls ni valors que falten, no s'han de canviar els tipus de les dades...).